* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*min 320px - celular

768px
1100px*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --fundo: rgba(247, 247, 247, 1);
    --fundo_login: rgba(234, 234, 234, 1);
    --cor_texto: black;
    --cor_input: rgba(255, 213, 132, 1);
    --cor_btn: rgba(240, 168, 28, 1);
    --cor_VariacaoBtn: rgb(192, 128, 0);
}

.darkMode {
    --fundo: rgba(64, 64, 64, 1);
    --fundo_login: rgba(43, 43, 43, 1);
    --cor_texto: rgb(227, 227, 227);
    --cor_input: rgba(255, 213, 132, 1);
    --cor_btn: rgba(240, 168, 28, 1);
    --cor_VariacaoBtn: rgb(192, 128, 0);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
    height: 100vh;
    padding: 20px;
    background-color: var(--fundo);

    @media screen and (min-width: 1100px) {
        flex-direction: row;
        gap: 100px;
    }
}

.container_logo {

    :is(img) {
        height: 150px;
        object-fit: contain;

        @media screen and (min-width: 1100px) {
            height: 300px;
        }
    }
}

.container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo_login);

    padding: 20px;
    border-radius: 20px;

    width: 100%;
    max-width: 400px;

    @media screen and (min-width: 1100px) {
        max-width: 500px;
        padding: 100px 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        gap: 20px;

        @media screen and (min-width: 1100px) {
            gap: 60px;
        }

        :is(h1) {
            color: var(--cor_texto);
            font-size: 30px;
            text-align: center;

            @media screen and (min-width: 1100px) {
                font-size: 34px;
            }
        }

        .inf_login {
            display: flex;
            flex-direction: column;

            gap: 20px;

            .login {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                :is(label) {
                    color: var(--cor_texto);
                    font-size: 13px;
                    padding-left: 5px;

                    @media screen and (min-width: 768px) {
                        font-size: 15px;

                        @media screen and(min-width: 1100px) {
                            font-size: 17px;
                        }
                    }
                }
            }

            .senha {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                :is(label) {
                    color: var(--cor_texto);
                    font-size: 13px;
                    padding-left: 5px;

                    @media screen and (min-width: 768px) {
                        font-size: 15px;

                        @media screen and(min-width: 1100px) {
                            font-size: 17px;
                        }
                    }
                }

                :is(a) {
                    text-decoration: none;
                    color: var(--cor_texto);
                    padding-top: 3px;

                    font-size: 14px;

                    @media screen and (min-width: 768px) {
                        font-size: 16px;

                        @media screen and(min-width: 1100px) {
                            font-size: 18px;
                        }
                    }
                }
            }

            :is(input) {
                background-color: var(--cor_input);
                border: none;
                border-radius: 5px;

                height: 35px;
                width: 100%;
                padding-left: 5px;

                @media screen and (min-width: 768px) {
                    height: 40px;

                    @media screen and (min-width: 1100px) {
                        height: 45px;
                    }
                }
            }

            .btn {
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: var(--cor_btn);
                font-weight: bold;
                font-size: 15px;

                transition: 0.3s;

                @media screen and (min-width: 768px) {
                    height: 50px;
                    font-size: 17px;

                    @media screen and (min-width: 1100px) {
                        height: 55px;
                        font-size: 19px;
                    }
                }

                &:hover {
                    background-color: var(--cor_VariacaoBtn);
                }

                &:active {
                    transform: scale(0.98);
                }
            }



        }
    }
}